#include "resource.h"

IDR_CONTEXT_MENU MENU
BEGIN
    POPUP "Context Menu"
    BEGIN
        MENUITEM "Enable/Disable", ID_ENABLE_DISABLE
        MENUITEM "Reset Keyboard", ID_RESET_KEYBOARD
#ifdef TMK_DESKTOP_ENABLE_LOGGING
        MENUITEM "Show/Hide Console", ID_SHOW_HIDE_CONSOLE_WINDOW
#endif
        MENUITEM "&Exit", ID_EXIT
    END
END
